<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width: 450px;">
            <div class="card-header">
                <h3 class="text-center p-4">CRUD con nodejs y mysql</h3>
            </div>
            <div class="card-body text-center">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum iste dolor explicabo veniam voluptatibus inventore, sint porro sapiente cumque, voluptatem, alias quisquam. Ad exercitationem, distinctio officia sint quo et vitae!</p>
                <a href="#" class="btn btn-primary">Crear una persona</a>
            </div>
        </div>
    </div>
</main>