.box1-parent{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    box-sizing: border-box;
    position: relative;
}

.box1-child{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background-color: red;
    position: absolute;
    top: 50%;
    right: 50%;
}