body{
    margin: 10px;
}

.grid-parent{
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3 , 1fr); /* 1fr - 100% */
    grid-template-rows: 60px 80px; /* altura fija para la primera fila o las que yo ajuste manualmente */
    grid-auto-rows: 20px; /* altura automatica para filas adicionales */
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

div{
    border: 1px solid black;
    background-color: lightblue;
    color: white;
    text-align: center;
}

.item1{
    grid-column: 1 / 3; /* empieza en la columna 1 y termina en la 3 (ocupa 2 columnas) */
    grid-row: 1 / 3; /* empieza en la fila 1 y termina en la 3 (ocupa 2 filas) */
}